html {
    --portfolio-base-bg-color: #0d1117;
    --portfolio-base-text-color: #e6edf3;
    --sl-border-radius-circle: 50%;
    --sl-border-radius-pill: 9999px;
    --sl-input-height-small: 1.875rem;
    --sl-input-font-size-small: 1rem;

    @media (prefers-color-scheme: light) {
        --portfolio-base-bg-color: #e3f2fd;
        --portfolio-base-text-color: #000000;
    }
}

body {
    margin: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
    background-color: var(--portfolio-base-bg-color);
    color: var(--portfolio-base-text-color);
    font-family: 'IBM Plex Sans', sans-serif;
}